body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.hrms_saidebar {
    background-color: #b4bdc9;
    width: 15%;
    color: #fff;
    height: 100vh;
}

.maine_body {
    width: 100%;
    display: flex;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

.hrms_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 10px;
}


.maine_right {
    width: 85%;
}
.left_right_padding {
    padding-left: 50px;
    padding-right: 50px;
}
.main_cot {
    padding-top: 40px;
}
.hrms_saidebar  ul li {
    list-style: none;

}
.hrms_saidebar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
}
.hrms_saidebar .admimin_master {
        font-size: 28px;
    font-weight: 900;
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #000021;
     box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);

}
